
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Scripts/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/tastySelect.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/datatables.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/AngularJS.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <link href="~/Scripts/Alert美化弹出框/sweetalert.min.css" rel="stylesheet" />
    <script src="~/Scripts/Alert美化弹出框/sweetalert-2.1.2.min.js"></script>
    <script src="~/Scripts/Index.js"></script>
    @*<script src="~/Scripts/导出/jquery.table2excel.js"></script>*@
    <style>
        .btn-primary {
            color: black;
        }

        th, td {
            border: 1px solid gray;
        }

        thead {
            background-color: #f2f2f2;
        }

        table.dataTable thead th {
            border-bottom: 0px solid #111;
        }

        /*重写样式*/
        .style-select.future .style-select-title {
            background-image: linear-gradient(#ffffff, #ffffff);
        }

        .style-select-title {
            height: 54px;
            line-height: 38px;
            text-align: center;
        }

        .style-select.future .style-select-title:after {
            border-width: 0.5rem .35em 0 .5rem;
            border-color: #000000 transparent transparent transparent;
        }

        ul {
            margin-left: -40px;
        }

        .style-select.future .style-select-title:after {
            border-color: #333 transparent transparent transparent;
        }

        .style-select.future .style-select-options {
            border-color: #33333352;
            left: -1px;
            right: -1px;
        }

        .style-select.future .style-select-option:before {
            background: #555;
        }

        .style-select-options {
            margin-top: 1px;
        }

        #dayReveiveMoney_payment_list_table_wrapper .dataTables_scrollHead {
            display: block !important;
            Z-index: 888;
        }

        #dayReveiveMoney_payment_list_table_wrapper .dataTables_scrollBody {
            margin-top: -40px !important;
        }

        .style-select.future .style-select-option {
            text-align: center
        }

        table.dataTable.no-footer {
            border-bottom: none;
        }

        /*.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary:visited {
            color: black;
        }
        .btn-primary:focus {
            background-color: darkred !important;
        }*/
        .btnstyle {
            height: 54px;
            border: 1px solid gray;
            border-radius: 6%;
        }

        .btnstyle:hover {
            color: white;
            background-color: lightskyblue !important;
        }

        .btnstyle:active::before, .btn-primary:visited::after, .btnstyle::backdrop {
            color: cadetblue;
        }

        /*.btnstyle:focus {
            
        }*/
            .btnstyle:active {
                background-color: dodgerblue !important;
                color: white;
            }
    </style>
</head>
<body style="max-width:98%;min-width:1250px; margin:0px auto" ng-app="myApp" ng-controller="mycontroller">
    <div>
        <h1 style="text-align: center;">
            <span id="Title">物 料 库 存 追 踪 工 具</span>
        </h1>

    </div>

    <div style="margin: 0px auto; margin-top: 4%; width: 80%; margin-left: 10%; margin-right: 10%; margin-bottom: 11% ">
        <!--条件表格-->
        <table id="SearchTable" class="table-striped tab-content table-hover" style="width:60%;float:left;margin-right:5%;border:1px solid black">
            <thead>
                <tr>
                    <th style="text-align: center;width:20%;height:54px">账套<br />Ledger</th>
                    <th style="text-align: center; width:40%; height: 54px">物料号<br />Material Code</th>
                    <th style="text-align: center; width:40%; height: 54px ">物料名称规格<br />Material Name & Description</th>
                </tr>
            </thead>
            <tbody id="Mytbody" style="text-align:center">
                <!--下拉框-->
                <tr>
                    <td>
                        <div class="main">
                            <div class="background">
                                <div class="content" style="height:54px">
                                    <select name="" id="tastySelect">
                                        <option selected>LK</option>
                                        <option>HL</option>
                                        <option>YH</option>
                                        <option>HS</option>
                                    </select>
                                </div>
                                <!--不能注释只能隐藏-->
                                <div class="content" style="display:none">
                                    <ul class="styling">
                                        <li><input type="radio" checked data-class='future' name="styling" id="r1"><label for="r1">Basic Theme</label></li>
                                        <li><input type="radio" data-class='jelly' name="styling" id="r2"><label for="r2">Fancy Theme</label></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        @*<div id="demo"></div>*@
                    </td>
                    <td contenteditable="true" style="background-color: white">
                        <input id="Fnumber" type="text" class="" style="text-align:center;height:54px;width:100%;border:0" onkeyup="clearNoNum(this)" onblur="GetMessage()" />
                    </td> <!--表格可编辑-->
                    <td style="background-color: #f2f2f2;min-height:54px" id="FModel"></td>
                </tr>
            </tbody>
        </table>
        <div id="btn" style="float:right;text-align:center">
            <button id="btnAddtoList" ng-click="AddtoList();" class="btnstyle" style="width: 90px; background-color: #fff4f4">加入列表<br />Add to List</button>
            <button id="btnWholetablecapture" class="btnstyle" style="width: 150px; background-color:#f4fff4">执行整表数据采集<br />Whole table capture</button>
            <button id="btnEmptyTable" ng-click="EmptyTable();" class="btnstyle" style="width: 100px; background-color:#f4f4ff">清空列表<br />Empty Table</button>
            <br />
            <button class="btnstyle" style="width: 90px; margin-top: 1%; background-color:#f4ffff">打印<br />Print</button>
            <button class="btnstyle" style="width: 150px; background-color:#fff4ff">导出试算表<br />Export to XLS</button>
            <button class="btnstyle" style="width: 100px; background-color:#d9d9d0">离开<br />Exit</button>
        </div>
    </div>
    <!--主表格-->
    <table id="MainTable" class="datatable table-striped tab-content table-hover" style="width: 95%;">
        <thead>
            <tr style="height:65px">
                <th class="Ledger" style="width: 5%; text-align: center; vertical-align: middle;">
                    账套
                    <br />
                    Ledger
                </th>
                <th class="MatrialCode" style="width: 8%; text-align: center; vertical-align: middle;">
                    物料号
                    <br />
                    Matrial Code
                </th>
                <th class="MaterialNamedescription" style="width: 20%; text-align: center; vertical-align: middle;">
                    物料名称规格
                    <br />
                    Material Name & description
                </th>
                <th class="redTitle" style="width:5%;text-align:center;vertical-align: middle;">
                    计量单位
                    <br />
                    Unit
                </th>
                <th class="WIP" style="width: 5%; text-align: center; vertical-align: middle;">
                    生产库存
                    <br />
                    WIP
                </th>
                <th class="MRB" style="width: 7%; text-align: center; vertical-align: middle;">
                    已报废
                    <br />
                    MRB
                </th>
                <th class="WH-Stock" style="width: 8%; text-align: center; vertical-align: middle;">
                    仓库库存
                    <br />
                    WH-Stock
                </th>
                <th class="IQC" style="width: 5%; text-align: center; vertical-align: middle;">
                    待检
                    <br />
                    IQC
                </th>
                <th class=" OpenPOUnfinished" style="width: 8%; text-align: center; vertical-align: middle;">
                    未完成订单量
                    <br />
                    Open-PO-Unfinished
                </th>
                <th class="AtTime" style="width: 8%; text-align: center; vertical-align: middle;">
                    统计时间
                    <br />
                    At-Time
                </th>
                <th class="Admin" style="width: 8%; text-align: center; vertical-align: middle;">
                    管理
                    <br />
                    Admin
                </th>
            </tr>
        </thead>
        <tbody id="OAContent" class="Maintablebody" style="text-align:center">
            <tr ng-repeat="i in List track by $index">
                <td>{{i.Ledger}}</td>
                <td>{{i.Fnumber}}</td>
                <td>{{i.Material}}</td>
                <td>{{i.MeasureUnit}}</td>
                <td>{{i.WIP_Qty}}</td>
                <td>{{i.MRB_Qty}}</td>
                <td>{{i.WH_Qty}}</td>
                <td>{{i.IQC_Qty}}</td>
                <td>{{i.OpenPO_Qty}}</td>
                <td>{{i.Invt_Time}}</td>
                <td>
                    <a href="#" style="margin-right:10%" title="删除(Delete)"><img src="~/Scripts/删除.png" width="25" height="23" /></a>
                    <a href="#" title="刷新采集数据(reFresh-Capture)"> <img src="~/Scripts/刷新.png" width="25" height="25" /></a>
                </td>
            </tr>
        </tbody>
    </table>
    <script src="~/Scripts/tastySelect.min.js"></script>
    <script src="~/Scripts/common.js"></script>
</body>
</html>
