
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>货运安排列表</title>
    <link href="~/Scripts/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/Index.css" rel="stylesheet" />
    <link href="~/Scripts/分页/jquery.sPage.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/AngularJS.js"></script>
    <script src="~/Scripts/WdatePicker/WdatePicker.js"></script>
    <script src="~/Scripts/分页/jquery.sPage.js"></script>
    <script src="~/Scripts/Index.js"></script>
</head>
<body style="max-width:98%;min-width:1250px; margin:0px auto" ng-app="myApp" ng-controller="mycontroller">
    <div id="mydiv">
        <h1 style="text-align: center;">
            <span id="Title">货 运 安 排 列 表</span>
        </h1>
        <!--搜索条件栏-->
        <form id="Myform" method="post" class="form-inline" role="form" onsubmit="return false" style="width: 85%;margin:0px auto">
            <div class="panel-heading col-sm-3">
                <label style="font-weight:bold">走货日期：</label>
                <input id="Start_Date" name="FindDate" type="text" class="Wdate form-control" onclick="WdatePicker({maxDate:'#F{$dp.$D(\'End_Date\')}'});" value="" style="cursor:pointer;height:34px;text-align:center;background-color:white;width:50%" readonly="readonly" />
                <label style="font-weight: bold;">--</label>
            </div>
            <div class="panel-heading col-sm-2">
                <input id="End_Date" name="EndTime" type="text" class="Wdate form-control"
                       value="" onclick="WdatePicker({ minDate: '#F{$dp.$D(\'Start_Date\')}'}); " style="cursor:pointer;height:34px;text-align:center;background-color:white;width:80%" readonly="readonly" title="默认结束日期为当天！" />
            </div>
            <div class="panel-heading col-sm-3">
                <div id="zhfs" style="display:initial">
                    走货方式：<select name="zhfs" class="form-control" style="width:50%;height:34px">
                    </select>
                </div>
            </div>
            <div class="panel-heading col-sm-3">
                <div id="zhdd" style="display:initial">
                    走货地点：<select name="zhdd" class="form-control" style="width:50%;height:34px">
                    </select>
                </div>
            </div>
            <div class="panel-heading col-sm-5">
                关键字：<input name="gjz" type="text" id="gjz" class="form-control input-content" style="width:82%" placeholder="模糊查找客户名称及标题及发票号" />
                <a class="glyphicon glyphicon-remove btn form-control-feedback input-clear-a qq"
                   style="pointer-events: auto;"
                   onclick="$('#gjz').val('')"></a>
            </div>
            <div class="panel-heading col-sm-3">
                收货地点：<input name="shdd" type="text" id="shdd" class="form-control input-content" style="width:50%" />
                <a class="glyphicon glyphicon-remove btn form-control-feedback input-clear-a qq"
                   style="pointer-events: auto;"
                   onclick="$('#shdd').val('')"></a>
            </div>
            <div class="panel-heading col-sm-3">
                状态：<select name="zhfs" id="zhdd" class="form-control" style="width:60%;height:34px">
                    <option value="C">结案</option>
                    <option value="N">维护</option>
                    <option value="S">作废</option>
                </select>
            </div>
        </form>
        <!-- 表格 -->
        <table id="GridView" class="table table-bordered table-hover my_table" style="width:85%;margin:0px auto;margin-top:4%;margin-bottom:1%">
            <thead>
                <tr>
                    <th style="width:5%;text-align:center">Status<br />状态</th>
                    <th style="width:15%;text-align:left">Customer Name<br />客户简称</th>
                    <th style="width:30%; text-align:left">Project Title<br />标题</th>
                    <th style="width:7%;text-align:center">DeliveryDate<br />走货日期</th>
                    <th style="width:6%;text-align:center">LoadingPort<br />走货地点</th>
                    <th style="width:5%;text-align:center">DeliverMode<br />走货方式</th>
                    <th style="width:10%;text-align:left">Forwarder<br />运输公司</th>
                    <th style="width:12%;text-align:left">Destination<br />收据地点</th>
                    <th style="width:10%;text-align:left">Invoice<br />发票号</th>
                </tr>
            </thead>
            <tbody id="OAContent">
                <tr ng-repeat="i in List track by $index">
                    <td style="width:5%;text-align:center">{{i.Status}}</td>
                    <td style="width: 15%; text-align: left">{{i.Customer}}</td>
                    <td style="width: 30%; text-align: left">{{i.Project}}</td>
                    <td style="width:7%;text-align:center">{{i.DeliverDate}}</td>
                    <td style="width:6%;text-align:left">{{i.LoadingPort}}</td>
                    <td style="width: 5%; text-align: left">{{i.TransWay}}</td>
                    <td style="width: 10%; text-align: left">{{i.TransCo}}</td>
                    <td style="width: 12%; text-align: left">{{i.Destination}}</td>
                    <td style="width:10%;text-align:center">{{i.Invoice}}</td>
                </tr>
            </tbody>
        </table>
        <!-- 分页 -->
        <div style="width:85%;text-align: right;margin-left: 7%;" id="myPage"></div>
    </div>
</body>
</html>
