
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/AngularJS.js"></script>
    <link href="~/Scripts/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <link href="~/Scripts/Create/Create.css" rel="stylesheet" />
</head>
<body style="max-width:98%;min-width:1250px; margin:0px auto" ng-app="myApp" ng-controller="mycontroller">
    <div id="container" style="overflow: hidden">
        <h1 style="text-align: center;">
            <span id="Title">Modify Certificates Application</span>
        </h1>
        <!--搜索条件栏-->
        <form id="Myform" method="post" class="form-inline" role="form" onsubmit="return false" style="width: 80%;margin:0px auto">
            @*左边*@
            <div style="float: left; width: 60%;" class="panel-heading col-sm-7">
                <div class="panel-heading col-sm-10">
                    <label class="font-backColor">Applicant Ref #</label>：
                    <label>C20220421001</label>
                </div>
                <div class="panel-heading col-sm-6">
                    <label class="font-backColor">Applicant (Client)</label>：
                    <select name="Applicant" id="Applicant" class="form-control" style="width:43%;height:34px">
                        <option selected="selected" value="" style="text-align:center"></option>
                    </select>
                </div>
                <div class="panel-heading col-sm-6">
                    <label class="font-backColor" style="padding-left:29px">Manufacturer</label>：
                    <select name="Manufacturer" id="Manufacturer" class="form-control" style="width:53%;height:34px">
                        <option selected="selected" value="" style="text-align:center"></option>
                    </select>
                </div>
                <div class="panel-heading  col-sm-6">
                    <label class="font-backColor" style="padding-left: 49px;">Customer</label>：
                    <select name="Customer" id="Customer" class="form-control" style="width:43%;height:34px">
                        <option selected="selected" value="" style="text-align:center"></option>
                    </select>
                </div>
                <div class="panel-heading col-sm-6">
                    <label class="font-backColor" style="padding-left: 51px;">Currency</label> ：
                    <select name="Currency" id="Currency" class="form-control " style="width:53%; height: 34px">
                        <option selected="selected" value="" style="text-align:center"></option>
                    </select>
                </div>
                <div class="panel-heading  col-sm-6">
                    <label class="font-backColor" style="padding-left: 76px;">Payer</label>：
                    <select name="Payer" id="Payer" class="form-control" style="width:43%;height:34px">
                        <option selected="selected" value="" style="text-align:center"></option>
                    </select>
                </div>
                <div class="panel-heading col-sm-6">
                    <label class="font-backColor" style="padding-left:9px">Application Fee</label> ：
                    <input name="ApplicationFee" type="text" id="ApplicationFee" class=" form-control input-content" style="width:53%" />
                </div>

                <div class="panel-heading col-sm-6">
                    <label class="font-backColor" style="padding-left:10px">Client PO Ref #</label>：
                    <input name="ClientPORef" type="text" id="ClientPORef" class=" form-control input-content" style="width:44%" />
                </div>

                <div class="panel-heading col-sm-6">
                    <label class="font-backColor" style="padding-left:23px">Inspection fee</label>：
                    <input name="Inspectionfee" type="text" id="Inspectionfee" class=" form-control input-content" style="width:53%" />
                </div>

                <div class="panel-heading col-sm-6">
                    <label class="font-backColor" style="padding-left:24px">GIP OA Ref #</label>：
                    <input name="GIPOARef" type="text" id="GIPOARef" class=" form-control input-content" style="width:44%" />
                </div>

                <div class="panel-heading col-sm-6">
                    <label class="font-backColor" style="padding-left:6px">Anual Renew fee</label>：
                    <input name="AnualRenewfee" type="text" id="AnualRenewfee" class=" form-control input-content" style="width:53%" />
                </div>
            </div>
            @*右边*@
            <div style="float: right; width: 40%;">
                <div class="panel-heading col-sm-15" style="position: relative;display:flex;padding:50px 15px">
                    <div id="ProductModel">
                        <label class="font-backColor" style="padding-left:17px">{Product Model(s)}</label>：
                    </div>
                    <div style="height: 80px; width: 56%; border: 1px solid black; position: relative">
                        <img src="~/Scripts/img/ModelMuli-Select.png" style="position:absolute;bottom:10px ;right:10px" />
                    </div>
                    <div style="position:absolute;top:50px;left:30px">
                        <img src="~/Scripts/img/model&certificate.png" />
                    </div>
                </div>
                <div class="panel-heading col-sm-15" style="position: relative;display:flex;padding:0px 15px">
                    <div id="Otherservices">
                        <label class="font-backColor">Other services & fees<br />(include recurrings)</label>：
                    </div>
                    <div style="height: 80px; width: 56%; border: 1px solid black; position: relative">

                    </div>

                </div>

            </div>
            @*remarks*@
            <div class="panel-heading">
                <div class="panel-heading col-sm-12">
                    <label class="font-backColor" style="padding-left:51px">Remarks</label>：
                    <input name="remarks" type="text" id="remarks" class=" form-control input-content" style="width:85%" />
                </div>
            </div>
            @*输入区域下半部分*@
            <div class="panel-heading col-sm-11">
                <div class="panel-heading col-sm-4">
                    <label class="font-backColor" style="padding-left:6px">Quotation Ref #</label>：
                    <input name="QuotationRef" type="text" id="QuotationRef" class=" form-control input-content" style="width:47%" />
                </div>
                <div class="panel-heading col-sm-4">
                    <label class="font-backColor" style="padding-left:62px;">Supplier</label>：
                    <input name="AnualRenewfee" type="text" id="AnualRenewfee" class=" form-control input-content" style="width:47%" />
                </div>
                <div class="panel-heading col-sm-4" style="position: relative;display:flex;padding:0px 15px">
                    <div id="Otherservices">
                        <label class="font-backColor" style="padding-left:55px;">Quotation<br />Attachment</label>：
                    </div>
                    <div style="height:45px ;width:70px;position:relative">
                        <img src="~/Scripts/img/pdf.png" />
                        <img src="~/Scripts/img/upload.png" style="position:absolute;top:3px;right:5px" />
                        <img src="~/Scripts/img/Del.png" style="position:absolute;bottom:3px;right:5px" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- 表格上方 -->
    <div style="width: 85%;margin:0px auto;display:flex;position:relative">
        <div><label>Certificate(s):</label></div>
        <div style="position:absolute;right:-10px;">
            <img src="~/Scripts/img/jiahao.png" />
            <input type="button" name="addLine" value="Add New Certificate Line" style="font-size:17px;height:50px;width:250px;border:1px solid black;background-color:rgb(47,117,181);color:rgb(255,255,0)" />
        </div>
    </div>
    <!-- 表格 -->
    <div style="width: 92%;margin:0px auto;">
        <table id="GridView" class="table-striped tab-content table-hover table" style="width: 98%; margin: 42px auto; margin-bottom: 1%;text-align:center">
            <thead>
                <tr style="background-color: rgba(217,217,217,0.1)">
                    <th>
                        Name<img src="~/Scripts/img/Name.png" ng-click="CertificatesManagement();"/>
                    </th>
                    <th>Reference Number</th>
                    <th>Issuer</th>
                    <th>{Factory(ies)}</th>
                    <th>{Covered Area(s) / Country(ies)}</th>
                    <th>Expiry(Y/M/D)</th>
                    <th>Attachment</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="Content">
                <tr>
                    <td>
                        <select name="Name" id="Name" class="form-control" style="width:100%;height:100%">
                            <option selected="selected" value="" style="text-align:center">cTUVus - TUV Rheinland N-America Cert</option>
                        </select>
                    </td>
                    <td>
                        MC-V 3885229 ENA
                    </td>
                    <td>
                        TUV Rheinland Argentina
                    </td>
                    <td style="position:relative">
                        <img style="position:absolute;right:10px;top:0px" src="~/Scripts/img/factory-muliSelect.png" />
                        <br />
                        <div>HS - 越南同奈工厂</div>

                    </td>
                    <td style="position:relative">
                        <img style="position:absolute;right:10px;top:0px" src="~/Scripts/img/CoveredArea-muilSelect.png" />
                        <br />
                        <div>(CA) 加拿大 Canada<br />(JP) 日本 Japan; (US) 美国 USA</div>

                    </td>
                    <td style="position:relative">
                        <img style="position:absolute;right:10px;top:0px" src="~/Scripts/img/date.png" />
                        <br/>
                        22/10/8

                    </td>
                    <td style="position:relative">
                        <img src="~/Scripts/img/pdf.png" style="position:absolute;left:10px;"/>
                        <img src="~/Scripts/img/upload.png"  style="position:absolute;right:10px;top:10px"/>
                        <img src="~/Scripts/img/Del.png"  style="position:absolute;right:10px;top:40px"/>
                    </td>
                    <td style="color:green">
                        Active<br />
                        <img style="width:35px;height:30px" src="~/Scripts/img/cxl.png" />
                    </td>
                </tr>
                @*<tr ng-repeat="i in List track by $index" ng-dblclick="TOWlgj(i.LAId,i.tableName)" style="box-decoration-break: slice; z-index: 100; cursor: pointer">

                    </tr>*@
            </tbody>
        </table>
        <label  style="font-size:12px;padding-left:2%;color:lightgray">Creation: CreateBy (Create-Dept) Create-Time</label>
    </div>
    <div style="text-align:center;margin:0px auto;">
        <input type="button" name="Save" value="Save" style="margin-right:20%;font-size:20px;height:40px;width:150px;border:1px solid black;background-color:rgb(47,117,181);color:rgb(255,255,0)" />
        <input type="button" name="Cancel" value="Cancel" style="font-size:20px;height:40px;width:150px;border:1px solid black;background-color:rgb(47,117,181);color:rgb(255,255,0)" />
    </div>
</body>
</html>
